{% extends 'registration/template.html' %}

{% load bootstrap4 %}

{% block 'content' %}

<div class="aviso">
    Aviso: preencha o formulário cuidadosamente, pois ainda não é possível alterar as informações
    posteriormente.
</div>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="row botoes_form">
        <div class="col-md-4 col-sm-12">
            <a href="{% url 'index' %}" class="btn btn-outline-success" style="width: 100%">Página inicial</a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="{% url 'login' %}" class="btn btn-outline-success" style="width: 100%">Login</a>
        </div>

        <div class="col-md-4 col-sm-12">
            <button type="submit" class="btn btn-success" style="width: 100%">Salvar</button>
        </div>
    </div>
</form>
{% endblock %}