@import url('https://fonts.googleapis.com/css?family=Righteous');

.bt-tabela{
    width: 100px;
}

h1, h2{
    font-family: 'Righteous', cursive;
}

#cabecalho{
    padding: 100px 0px 60px 0px;
    background-color: #8a9675;
    text-align: center;
}

#logo{
    text-align: center;
    width: 25%;
}

.table-card{
    /* background-color: rgba(0, 0, 0, 0.04); */
    /* border-style: solid; */
    /* border-color: rgba(0 , 0 , 0 , 0.3); */
    /* border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 3px; */
    padding: 30px;
    margin: 10px 0px;
}

.bloco{
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.table{
    border-radius: 10px;
}

@media (max-width: 1080px){
    #logo{
        width: 55%;
    }
}