@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=News+Cycle');
@import url('https://fonts.googleapis.com/css?family=Khand');
@import url('https://fonts.googleapis.com/css?family=Aleo');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');

@font-face{
    font-family: 'kiona';
    src: url('../fonts/Kiona-Regular.ttf');
}
@font-face{
    font-family: 'thebold';
    src: url('../fonts/theboldfont.ttf')
}

.parallax{
    background-size: 100%;
    background-position-x: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1, h2, h3, h4{
    text-transform: uppercase;
    font-family: 'News Cycle', sans-serif;
}

#logo_campus{
    height: 30px;
}

.black{
    background-color: #000000;
}

.transparencia{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    transition: 0.2s;
}

#nav .nav-link{
    color: #ffffff;
    transition: 0.2s;
}

#nav .nav-link:hover{
    color: #ce0000;
    transition: 0.2s;
}


.buttons button{
    font-size: 14pt;
    margin-top: 10px;
}

.buttons{
    text-align: center;
}

button{
    font-family: 'kiona';
}

@media(max-width: 1080px){
    .parallax{
        background-size: 300%;
        background-position-x: 0%;
    }
}