@font-face{
    font-family: 'thebold';
    src: url('../fonts/theboldfont.ttf')
}

body{
    background-color: rgb(0, 152, 172);
}

.caixa_form{
    border-radius: 10px;
}

.caixa_form h1, p{
    font-family: 'thebold';
    text-align: center;
}
