{% extends 'template.html' %}

{% load static %}

{% block 'content' %}

<div class="container-fluid p-0 bg-white">
    <div id="regulamentacao" class="bg-light py-3">
        <div id="regulamentos" class="container py-5">
            <h1>Regulamentos</h1>
            <hr>
            <h5>Leia atentamente os regulamentos!</h5>
            <div class="mt-4">
                <a href="" class="btn btn-success">Gincana</a>
                <a href="" class="btn btn-success">Campeonato</a>
            </div>
        </div>
    </div>

    <div id="teatro" class="text-center py-5">
        <h1>Teatro</h1>
        <hr>
        <img id="imagem_teatro" src="{% static 'imgs/banner_teatro.jpg' %}" alt="Banner do teatro">
    </div>
</div>

{% endblock %}
{% block 'style' %}
    <style>
        #imagem_teatro{
            width: 50%;
        }
    </style>
{% endblock %}