{% extends 'template.html' %}

{% load static %}

{% block 'content' %}

<div class="container-fluid p-0 bg-white">
    <div id="regulamentacao" class="bg-light py-3">
        <div id="regulamentos" class="container py-5">
            <h1>Regulamentos</h1>
            <hr>
            <h5>Leia atentamente os regulamentos!</h5>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-4 col-sm-12"><a href="{% static 'pdfs/Regulamento Específico  - Tênis de mesa.pdf' %}" target="blank" class="btn btn-success" style="width: 100%; margin: 5px;">Tênis de mesa</a></div>
                    <div class="col-md-4 col-sm-12"><a href="{% static 'pdfs/Regulamento Específico - Atletismo .pdf' %}" target="blank" class="btn btn-success" style="width: 100%; margin: 5px;">Atletismo</a></div>
                    <div class="col-md-4 col-sm-12"><a href="{% static 'pdfs/Regulamento específico - Futsal.pdf' %}" target="blank" class="btn btn-success" style="width: 100%; margin: 5px;">Futsal</a></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12"><a href="{% static 'pdfs/Regulamento específico - Queimada.pdf' %}" target="blank" class="btn btn-success" style="width: 100%; margin: 5px;">Queimado</a></div>
                    <div class="col-md-4 col-sm-12"><a href="{% static 'pdfs/Regulamento específico - Voleibol .pdf' %}" target="blank" class="btn btn-success" style="width: 100%; margin: 5px;">Voleibol</a></div>
                    <div class="col-md-4 col-sm-12"><a href="{% static 'pdfs/Regulamento específico - Xadrez.pdf' %}" target="blank" class="btn btn-success" style="width: 100%; margin: 5px;">Xadrez</a></div>
                </div>
            </div>
        </div>
    </div>

    <div id="teatro" class="text-center py-5">
        <h1>Teatro</h1>
        <hr>
        <a href="{% static 'imgs/banner_teatro.jpg' %}" data-lightbox="image-1" data-title="Teatro"><img id="imagem_teatro" src="{% static 'imgs/banner_teatro.jpg' %}" alt="" srcset=""></a>
        <!-- <img id="imagem_teatro" src="{% static 'imgs/banner_teatro.jpg' %}" alt="Banner do teatro"> -->
    </div>
</div>

{% endblock %}
{% block 'style' %}
    <style>
        #imagem_teatro{
            width: 50%;
        }
    </style>
{% endblock %}