{% extends 'dashboard/template.html' %}

{% load static %}
{% load bootstrap4 %}

{% block 'content' %}
    <div class="container py-5">
        <div class="row">
            <div class="mx-auto col-md-10 col-sm-12">
                <h1 class="mb-4" style="text-align: center;">Equipe</h1>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <div class="text-center mt-4">
                            <a class="btn btn-danger py-2" href="{% url 'index_dashboard' %}">Voltar à página inicial</a>
                            <button type="submit" class="btn btn-success py-2">Salvar</button>
                        </div>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block 'scripts' %}
{% endblock %}
