{% extends 'dashboard/template.html' %}

{% load static %}
{% load bootstrap4 %}

{% block 'content' %}
    <div class="container py-5">
        <div class="row mb-5" style="text-align: center;">
            <div class="col-12">
                <h1 class="mb-3">Novo participante</h1>
                <p>Obs.: O usuário deve estar cadastrado nesse site</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="post" action="{% url 'equipe_participar' id_equipe %}">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-10 col-sm-12 input-group mb-3 ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Matrícula</span>
                            </div>
                            <input type="text" class="form-control" id="basic-url" name="matricula" aria-describedby="basic-addon3">
                        </div>
                        <div class="col-md-2 col-sm 12">
                            <button type="submit" class="btn btn-primary" style="width: 100%;">Cadastrar</button>
                        </div>
                    </div>            

                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block 'scripts' %}
{% endblock %}

